@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Monsieur La Doulaise";
  src: url("/fonts/MonsieurLaDoulaise-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-montserrat), sans-serif;
  background: #171c28;
  color: #fff;
}
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
}
div,
main {
  overflow-x: hidden;
}
